<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RoadAPIKey" value="devU01TX0FVVEgyMDIxMDIxNzExMzcyNDExMDgyMDg="/>
  </appSettings>
    <connectionStrings>
        <add name="localhost_TEAM6_Connection" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM6;Persist Security Info=true" />
        <add name="localhost_TEAM6_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM6;Persist Security Info=true" />
        <add name="localhost_TEAM6_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM6;Persist Security Info=true" />
        <add name="Connection_ProdStatus" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=team6;password=team6;initial catalog=TEAM6;Persist Security Info=true" />
        <add name="Connection_InsCheck" connectionString="XpoProvider=MSSqlServer;data source=whyfi8888.ddns.net,11433;user id=;password=;initial catalog=TEAM6;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>