
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<tbody>
    <tr>
        <td>Main</td>
        @*<td class="text-right">@line.Product.Price.ToString("c")</td>
        <td class="text-center">@line.Qty</td>
        <td class="text-right">@((line.Product.Price * line.Qty).ToString("c"))</td>*@
    </tr>  
</tbody>

